<section class="jumbotron text-center mt-5 mb-2" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
    </div>
    <div class="container">
        <h2 class="jumbotron-heading mt-5">TOP PRODUCTS</h2>
        <div class="row d-flex justify-content-between p-0 ms-5">
            <div th:each="product : ${products}" class="col-4 my-4">
                <div class="card rounded-0 border-0 p-3" style="width: 23rem;">
                    <img th:src="${product.getImage()}" class="card-img-top w-100" alt="img">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.getName()}"></h5>
                        <p class="card-text m-0">Category: <span th:text="${product.getCategory().getName()}"></span></p>
                        <p class="card-text m-0">Manufacturer: <span th:text="${product.getManufacturer().getName()}"></span> </p>
                        <hr />
                        <p class="card-text">$<span th:text="${product.getPrice()}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="d-flex justify-content-between my-5">
            <div class="my-auto pe-5 mt-5">
                <h2>Why Skincare?</h2>
                <p class="fs-6">Your skin acts as a barrier to our internal systems that are imperative to our health and well-being. Taking steps to properly care for our skin helps to ensure this important barrier is strong. When the skin is dry or irritated, cracks can occur, which make you more prone to infection.</p>
                <p class="fs-6">Your skin also plays a vital role in protecting you from the sun and it’s harmful rays. That’s why sunscreen is recommended for adults and kids to wear daily. After all, skin cancer is the most common type of cancer and can occur in people of all ages.</p>
                <button class="btn btn-dark btn-padded">READ MORE</button>
            </div>
            <div class="col-6 pe-5">
                <img src="http://localhost:8080/uploads/skincare.jpg" alt="img" class="w-100"/>
            </div>
        </div>
    </div>
</section>
